<?xml version="1.0" encoding="UTF-8"?>
<gmd:MD_Metadata xmlns:gmd="http://www.isotc211.org/2005/gmd"
                 xmlns:gmx="http://www.isotc211.org/2005/gmx"
                 xmlns:gco="http://www.isotc211.org/2005/gco"
                 xmlns:gsr="http://www.isotc211.org/2005/gsr"
                 xmlns:gss="http://www.isotc211.org/2005/gss"
                 xmlns:gts="http://www.isotc211.org/2005/gts"
                 xmlns:gml="http://www.opengis.net/gml"
                 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 id="LSTMetadata"
                 xsi:schemaLocation="http://www.isotc211.org/2005/gmd http://www.isotc211.org/2005/gmd/gmd.xsd">
  <gmd:fileIdentifier>
      <gco:CharacterString>{{fileIdentifier}}</gco:CharacterString>
  </gmd:fileIdentifier>
  <gmd:language>
      <gmd:LanguageCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#LanguageCode" codeListValue="eng">eng</gmd:LanguageCode>
  </gmd:language>
  <gmd:characterSet>
      <gmd:MD_CharacterSetCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#MD_CharacterSetCode" codeListValue="utf8">utf8</gmd:MD_CharacterSetCode>
  </gmd:characterSet>
  <gmd:parentIdentifier>
      <gco:CharacterString>{{parentIdentifier}}</gco:CharacterString>
  </gmd:parentIdentifier>
  <gmd:hierarchyLevel>
      <gmd:MD_ScopeCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#MD_ScopeCode"
                        codeListValue="dataset">dataset</gmd:MD_ScopeCode>
  </gmd:hierarchyLevel>
  <gmd:contact>
      <gmd:CI_ResponsibleParty>
         <gmd:organisationName>
            <gco:CharacterString>Flemish Institute for Technological Research (VITO)</gco:CharacterString>
         </gmd:organisationName>
         <gmd:contactInfo>
            <gmd:CI_Contact>
               <gmd:address>
                  <gmd:CI_Address>
                     <gmd:deliveryPoint>
                        <gco:CharacterString>Boeretang 200</gco:CharacterString>
                     </gmd:deliveryPoint>
                     <gmd:city>
                        <gco:CharacterString>Mol</gco:CharacterString>
                     </gmd:city>
                     <gmd:postalCode>
                        <gco:CharacterString>2400</gco:CharacterString>
                     </gmd:postalCode>
                     <gmd:country>
                        <gmd:Country codeList="http://www.iso.org/iso/en/prods-services/iso3166ma/02iso-3166-code-lists/index.html"
                                     codeListValue="BE"
                                     codeSpace="ISO 3166-1">Belgium</gmd:Country>
                     </gmd:country>
                     <gmd:electronicMailAddress>
                        <gco:CharacterString>helpdesk@vgt.vito.be</gco:CharacterString>
                     </gmd:electronicMailAddress>
                  </gmd:CI_Address>
               </gmd:address>
               <gmd:onlineResource>
                  <gmd:CI_OnlineResource>
                     <gmd:linkage>
                        <gmd:URL>http://land.copernicus.eu/global/</gmd:URL>
                     </gmd:linkage>
                     <gmd:protocol>
                        <gco:CharacterString>HTTP</gco:CharacterString>
                     </gmd:protocol>
                     <gmd:name>
                        <gco:CharacterString>Copernicus Global Land service</gco:CharacterString>
                     </gmd:name>
                     <gmd:description>
                        <gco:CharacterString>Copernicus Global Land service</gco:CharacterString>
                     </gmd:description>
                     <gmd:function>
                        <gmd:CI_OnLineFunctionCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#CI_OnLineFunctionCode"
                                                   codeListValue="information">information</gmd:CI_OnLineFunctionCode>
                     </gmd:function>
                  </gmd:CI_OnlineResource>
               </gmd:onlineResource>
               <gmd:hoursOfService>
                  <gco:CharacterString>Office hours, 5 days per week</gco:CharacterString>
               </gmd:hoursOfService>
               <gmd:contactInstructions>
                  <gco:CharacterString>Preferrably by e-mail</gco:CharacterString>
               </gmd:contactInstructions>
            </gmd:CI_Contact>
         </gmd:contactInfo>
         <gmd:role>
            <gmd:CI_RoleCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#CI_RoleCode"
                             codeListValue="pointOfContact">pointOfContact</gmd:CI_RoleCode>
         </gmd:role>
      </gmd:CI_ResponsibleParty>
  </gmd:contact>
  <gmd:dateStamp>
      <gco:Date>{{dateStamp}}</gco:Date>
  </gmd:dateStamp>
  <gmd:metadataStandardName>
      <gco:CharacterString>ISO19115</gco:CharacterString>
  </gmd:metadataStandardName>
  <gmd:metadataStandardVersion>
      <gco:CharacterString>2003/Cor.1:2006</gco:CharacterString>
  </gmd:metadataStandardVersion>
  {{#spatialRepresentationInfo}}
  <gmd:spatialRepresentationInfo>
      <gmd:MD_Georectified>
         <gmd:numberOfDimensions>
            <gco:Integer>2</gco:Integer>
         </gmd:numberOfDimensions>
         <gmd:axisDimensionProperties>
            <gmd:MD_Dimension>
               <gmd:dimensionName>
                  <gmd:MD_DimensionNameTypeCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#MD_DimensionNameTypeCode"
                                                codeListValue="row">row</gmd:MD_DimensionNameTypeCode>
               </gmd:dimensionName>
               <gmd:dimensionSize>
               <gco:Integer>{{rowSize}}</gco:Integer>
               </gmd:dimensionSize>
               <gmd:resolution>
                  <gco:Angle uom="deg">0.04464</gco:Angle>
               </gmd:resolution>
            </gmd:MD_Dimension>
         </gmd:axisDimensionProperties>
         <gmd:axisDimensionProperties>
            <gmd:MD_Dimension>
               <gmd:dimensionName>
                  <gmd:MD_DimensionNameTypeCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#MD_DimensionNameTypeCode"
                                                codeListValue="column">column</gmd:MD_DimensionNameTypeCode>
               </gmd:dimensionName>
               <gmd:dimensionSize>
               <gco:Integer>{{columnSize}}</gco:Integer>
               </gmd:dimensionSize>
               <gmd:resolution>
                  <gco:Angle uom="deg">{{resolution}}</gco:Angle>
               </gmd:resolution>
            </gmd:MD_Dimension>
         </gmd:axisDimensionProperties>
         <gmd:cellGeometry>
            <gmd:MD_CellGeometryCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#MD_CellGeometryCode"
                                     codeListValue="area">area</gmd:MD_CellGeometryCode>
         </gmd:cellGeometry>
         <gmd:transformationParameterAvailability>
            <gco:Boolean>false</gco:Boolean>
         </gmd:transformationParameterAvailability>
         <gmd:checkPointAvailability>
            <gco:Boolean>true</gco:Boolean>
         </gmd:checkPointAvailability>
         <gmd:checkPointDescription>
            <gco:CharacterString>Upperleft corner tiepoint</gco:CharacterString>
         </gmd:checkPointDescription>
         <gmd:cornerPoints>
            <gml:Point gml:id="upperLeftTiePoint_GLOBE">
               <gml:description>Upperleft corner tiepoint</gml:description>
               <gml:identifier codeSpace="">upperLeftTiePoint</gml:identifier>
               <gml:name>Tie Point in upper left corner</gml:name>
               <gml:pos srsName="#WGS_1984">{{upperLeftLat}} {{upperLeftLon}}</gml:pos>
            </gml:Point>
         </gmd:cornerPoints>
         <gmd:pointInPixel>
            <gmd:MD_PixelOrientationCode>center</gmd:MD_PixelOrientationCode>
         </gmd:pointInPixel>
      </gmd:MD_Georectified>
  </gmd:spatialRepresentationInfo>
  {{/spatialRepresentationInfo}}
  <gmd:referenceSystemInfo>
      <gmd:MD_ReferenceSystem>
        <gmd:referenceSystemIdentifier>
          <gmd:RS_Identifier>
            <gmd:code>
              <gco:CharacterString>EPSG:32662</gco:CharacterString> <!-- WGS84/Plate Carree -->
            </gmd:code>
            <gmd:codeSpace>
              <gco:CharacterString>EPSG Geodetic Parameter Dataset</gco:CharacterString>
            </gmd:codeSpace>
          </gmd:RS_Identifier>
        </gmd:referenceSystemIdentifier>
      </gmd:MD_ReferenceSystem>
  </gmd:referenceSystemInfo>
  <gmd:referenceSystemInfo>
      <gmd:MD_ReferenceSystem>
        <gmd:referenceSystemIdentifier>
          <gmd:RS_Identifier>
            <gmd:code>
              <gco:CharacterString>WGS84</gco:CharacterString>
            </gmd:code>
            <gmd:codeSpace>
              <gco:CharacterString>World Geodetic System</gco:CharacterString>
            </gmd:codeSpace>
          </gmd:RS_Identifier>
        </gmd:referenceSystemIdentifier>
      </gmd:MD_ReferenceSystem>
  </gmd:referenceSystemInfo>
  {{#identificationInfo}}
  <gmd:identificationInfo>
      <gmd:MD_DataIdentification>
         {{#citation}}
         <gmd:citation>
            <gmd:CI_Citation>
               <gmd:title>
                  <gco:CharacterString>{{title}}</gco:CharacterString>
               </gmd:title>
               <gmd:date>
                  <gmd:CI_Date>
                     <gmd:date>
                        <gco:Date>{{date}}</gco:Date>
                     </gmd:date>
                     <gmd:dateType>
                        <gmd:CI_DateTypeCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#CI_DateTypeCode"
                                             codeListValue="creation">creation</gmd:CI_DateTypeCode>
                     </gmd:dateType>
                  </gmd:CI_Date>
               </gmd:date>
               <gmd:edition>
                  <gco:CharacterString>V1</gco:CharacterString>
               </gmd:edition>
               <gmd:editionDate>
                  <gco:Date>{{date}}</gco:Date>
               </gmd:editionDate>
               <gmd:identifier>
                  <gmd:MD_Identifier>
                     <gmd:authority>
                        <gmd:CI_Citation>
                           <gmd:title>
                              <gco:CharacterString>Instituto Português do Mar e da Atmosfera</gco:CharacterString>
                           </gmd:title>
                           <gmd:date>
                              <gmd:CI_Date>
                                 <gmd:date>
                                    <gco:Date>{{date}}</gco:Date>
                                 </gmd:date>
                                 <gmd:dateType>
                                    <gmd:CI_DateTypeCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#CI_DateTypeCode"
                                                         codeListValue="publication">publication</gmd:CI_DateTypeCode>
                                 </gmd:dateType>
                              </gmd:CI_Date>
                           </gmd:date>
                        </gmd:CI_Citation>
                     </gmd:authority>
                     <gmd:code>
                        <gco:CharacterString>{{code}}</gco:CharacterString>
                     </gmd:code>
                  </gmd:MD_Identifier>
               </gmd:identifier>
               <gmd:otherCitationDetails>
                  <gco:CharacterString>http://land.copernicus.eu/global/sites/default/files/products/GIOGL1_PUM_DSSF_I1.10.pdf</gco:CharacterString>
               </gmd:otherCitationDetails>
            </gmd:CI_Citation>
         </gmd:citation>
         {{/citation}}
         <gmd:abstract>
            <gco:CharacterString>{{abstract}}</gco:CharacterString>
         </gmd:abstract>
         <gmd:purpose>
            <gco:CharacterString>{{purpose}}</gco:CharacterString>
         </gmd:purpose>
         <gmd:credit>
            <gco:CharacterString>{{credit}}</gco:CharacterString>
         </gmd:credit>
         <gmd:status>
            <gmd:MD_ProgressCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#MD_ProgressCode"
                                 codeListValue="completed">completed</gmd:MD_ProgressCode>
         </gmd:status>
         {{#pointOfContact}}
             <gmd:pointOfContact>
                 <gmd:CI_ResponsibleParty>
                     <gmd:organisationName>
                         <gco:CharacterString>{{name}}</gco:CharacterString>
                     </gmd:organisationName>
                     <gmd:positionName>
                         <gco:CharacterString>{{position}}</gco:CharacterString>
                     </gmd:positionName>
                     <gmd:contactInfo>
                         <gmd:CI_Contact>
                             <gmd:address>
                                 <gmd:CI_Address>
                                     <gmd:deliveryPoint>
                                         <gco:CharacterString>{{delivery_point}}</gco:CharacterString>
                                     </gmd:deliveryPoint>
                                     <gmd:city>
                                         <gco:CharacterString>{{city}}</gco:CharacterString>
                                     </gmd:city>
                                     <gmd:postalCode>
                                         <gco:CharacterString>{{postal_code}}</gco:CharacterString>
                                     </gmd:postalCode>
                                     <gmd:country>
                                         <gmd:Country codeList="http://www.iso.org/iso/en/prods-services/iso3166ma/02iso-3166-code-lists/index.html"
                                                      codeListValue="{{country_code}}"
                                                      codeSpace="ISO 3166-1">{{country}}</gmd:Country>
                                     </gmd:country>
                                     <gmd:electronicMailAddress>
                                         <gco:CharacterString>{{e_mail}}</gco:CharacterString>
                                     </gmd:electronicMailAddress>
                                 </gmd:CI_Address>
                             </gmd:address>
                             <gmd:onlineResource>
                                 <gmd:CI_OnlineResource>
                                     <gmd:linkage>
                                         <gmd:URL>{{website}}</gmd:URL>
                                     </gmd:linkage>
                                     <gmd:protocol>
                                         <gco:CharacterString>HTTP</gco:CharacterString>
                                     </gmd:protocol>
                                     <gmd:name>
                                         <gco:CharacterString>{{short_name}} website</gco:CharacterString>
                                     </gmd:name>
                                     <gmd:description>
                                         <gco:CharacterString>Organization website</gco:CharacterString>
                                     </gmd:description>
                                     <gmd:function>
                                         <gmd:CI_OnLineFunctionCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#CI_OnLineFunctionCode"
                                                                    codeListValue="information">information</gmd:CI_OnLineFunctionCode>
                                     </gmd:function>
                                 </gmd:CI_OnlineResource>
                             </gmd:onlineResource>
                             <gmd:hoursOfService>
                                 <gco:CharacterString>Office hours, 5 days per week</gco:CharacterString>
                             </gmd:hoursOfService>
                             <gmd:contactInstructions>
                                 <gco:CharacterString>Preferrably by e-mail</gco:CharacterString>
                             </gmd:contactInstructions>
                         </gmd:CI_Contact>
                     </gmd:contactInfo>
                     <gmd:role>
                         <gmd:CI_RoleCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#CI_RoleCode"
                                          codeListValue="principalInvestigator">{{role}}</gmd:CI_RoleCode>
                     </gmd:role>
                 </gmd:CI_ResponsibleParty>
             </gmd:pointOfContact>
         {{/pointOfContact}}
         <gmd:resourceMaintenance>
            <gmd:MD_MaintenanceInformation>
               <gmd:maintenanceAndUpdateFrequency>
                  <gmd:MD_MaintenanceFrequencyCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#MD_MaintenanceFrequencyCode"
                                                   codeListValue="asNeeded">asNeeded</gmd:MD_MaintenanceFrequencyCode>
               </gmd:maintenanceAndUpdateFrequency>
               <gmd:updateScope>
                  <gmd:MD_ScopeCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#MD_ScopeCode"
                                    codeListValue="dataset">dataset</gmd:MD_ScopeCode>
               </gmd:updateScope>
            </gmd:MD_MaintenanceInformation>
         </gmd:resourceMaintenance>
         <gmd:graphicOverview>
            <gmd:MD_BrowseGraphic>
               <gmd:fileName>
                  <gco:CharacterString>{{graphicOverview}}</gco:CharacterString>
               </gmd:fileName>
               <gmd:fileDescription>
                  <gco:CharacterString>Quicklook at full resolution.</gco:CharacterString>
               </gmd:fileDescription>
               <gmd:fileType>
                  <gco:CharacterString>png</gco:CharacterString>
               </gmd:fileType>
            </gmd:MD_BrowseGraphic>
         </gmd:graphicOverview>
         <gmd:resourceFormat>
            <gmd:MD_Format>
               <gmd:name>
                  <gco:CharacterString>NetCDF</gco:CharacterString>
               </gmd:name>
               <gmd:version>
                  <gco:CharacterString>4</gco:CharacterString>
               </gmd:version>
               <gmd:specification>
                  <gco:CharacterString>Network Common Data Form</gco:CharacterString>
               </gmd:specification>
            </gmd:MD_Format>
         </gmd:resourceFormat>
         <gmd:descriptiveKeywords>
            <gmd:MD_Keywords>
               <gmd:keyword>
                  <gco:CharacterString>Orthoimagery</gco:CharacterString>
               </gmd:keyword>
               <gmd:thesaurusName>
                  <gmd:CI_Citation>
                     <gmd:title>
                        <gco:CharacterString>GEMET - INSPIRE themes version 1.0</gco:CharacterString>
                     </gmd:title>
                     <gmd:date>
                        <gmd:CI_Date>
                           <gmd:date>
                              <gco:Date>2010-01-13</gco:Date>
                           </gmd:date>
                           <gmd:dateType>
                              <gmd:CI_DateTypeCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#CI_DateTypeCode"
                                                   codeListValue="publication">publication</gmd:CI_DateTypeCode>
                           </gmd:dateType>
                        </gmd:CI_Date>
                     </gmd:date>
                  </gmd:CI_Citation>
               </gmd:thesaurusName>
            </gmd:MD_Keywords>
         </gmd:descriptiveKeywords>
         <gmd:descriptiveKeywords>
            <gmd:MD_Keywords>
               <gmd:keyword>
                  <gco:CharacterString>solar radiation</gco:CharacterString>
               </gmd:keyword>
               <gmd:thesaurusName>
                  <gmd:CI_Citation>
                     <gmd:title>
                        <gco:CharacterString>GEMET - Concepts version 3.0</gco:CharacterString>
                     </gmd:title>
                     <gmd:date>
                        <gmd:CI_Date>
                           <gmd:date>
                              <gco:Date>2011-07-03</gco:Date>
                           </gmd:date>
                           <gmd:dateType>
                              <gmd:CI_DateTypeCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#CI_DateTypeCode"
                                                   codeListValue="publication">publication</gmd:CI_DateTypeCode>
                           </gmd:dateType>
                        </gmd:CI_Date>
                     </gmd:date>
                  </gmd:CI_Citation>
               </gmd:thesaurusName>
            </gmd:MD_Keywords>
         </gmd:descriptiveKeywords>
         <gmd:descriptiveKeywords>
            <gmd:MD_Keywords>
               {{#uncontrolledKeywords}}
               <gmd:keyword>
                  <gco:CharacterString>{{keyword}}</gco:CharacterString>
               </gmd:keyword>
               {{/uncontrolledKeywords}}
            </gmd:MD_Keywords>
         </gmd:descriptiveKeywords>
         <gmd:resourceConstraints>
            <gmd:MD_Constraints>
               <gmd:useLimitation>
                  <gco:CharacterString>no conditions apply</gco:CharacterString>
               </gmd:useLimitation>
            </gmd:MD_Constraints>
         </gmd:resourceConstraints>
         <gmd:resourceConstraints>
            <gmd:MD_LegalConstraints>
               <gmd:useConstraints>
                  <gmd:MD_RestrictionCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#MD_RestrictionCode"
                                          codeListValue="copyright">@copernicus.eu</gmd:MD_RestrictionCode>
               </gmd:useConstraints>
            </gmd:MD_LegalConstraints>
         </gmd:resourceConstraints>
         <gmd:resourceConstraints>
            <gmd:MD_LegalConstraints>
               <gmd:accessConstraints>
                  <gmd:MD_RestrictionCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#MD_RestrictionCode"
                                          codeListValue="otherRestrictions">data policy @copernicus.eu</gmd:MD_RestrictionCode>
               </gmd:accessConstraints>
               <gmd:otherConstraints>
                  <gco:CharacterString>(d) the confidentiality of commercial or industrial information, where such confidentiality is provided for by national or Community law to protect a legitimate economic interest, including the public interest in maintaining statistical confidentiality and tax secrecy.</gco:CharacterString>
               </gmd:otherConstraints>
            </gmd:MD_LegalConstraints>
         </gmd:resourceConstraints>
         <gmd:aggregationInfo>
            <gmd:MD_AggregateInformation>
               <gmd:associationType>
                  <gmd:DS_AssociationTypeCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#DS_AssociationTypeCode"
                                              codeListValue="partOfSeamlessDatabase">partOfSeamlessDatabase</gmd:DS_AssociationTypeCode>
               </gmd:associationType>
               <gmd:initiativeType>
                  <gmd:DS_InitiativeTypeCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#DS_InitiativeTypeCode"
                                             codeListValue="project">project</gmd:DS_InitiativeTypeCode>
               </gmd:initiativeType>
            </gmd:MD_AggregateInformation>
         </gmd:aggregationInfo>
         <gmd:aggregationInfo>
            <gmd:MD_AggregateInformation>
               <gmd:associationType>
                  <gmd:DS_AssociationTypeCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#DS_AssociationTypeCode"
                                              codeListValue="source">source</gmd:DS_AssociationTypeCode>
               </gmd:associationType>
               <gmd:initiativeType>
                  <gmd:DS_InitiativeTypeCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#DS_InitiativeTypeCode"
                                             codeListValue="platform">GOESE</gmd:DS_InitiativeTypeCode>
               </gmd:initiativeType>
            </gmd:MD_AggregateInformation>
         </gmd:aggregationInfo>
         <gmd:aggregationInfo>
            <gmd:MD_AggregateInformation>
               <gmd:associationType>
                  <gmd:DS_AssociationTypeCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#DS_AssociationTypeCode"
                                              codeListValue="source">source</gmd:DS_AssociationTypeCode>
               </gmd:associationType>
               <gmd:initiativeType>
                  <gmd:DS_InitiativeTypeCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#DS_InitiativeTypeCode"
                                             codeListValue="sensor">IMAG</gmd:DS_InitiativeTypeCode>
               </gmd:initiativeType>
            </gmd:MD_AggregateInformation>
         </gmd:aggregationInfo>
         <gmd:aggregationInfo>
            <gmd:MD_AggregateInformation>
               <gmd:associationType>
                  <gmd:DS_AssociationTypeCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#DS_AssociationTypeCode"
                                              codeListValue="source">source</gmd:DS_AssociationTypeCode>
               </gmd:associationType>
               <gmd:initiativeType>
                  <gmd:DS_InitiativeTypeCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#DS_InitiativeTypeCode"
                                             codeListValue="platform">MSG</gmd:DS_InitiativeTypeCode>
               </gmd:initiativeType>
            </gmd:MD_AggregateInformation>
         </gmd:aggregationInfo>
         <gmd:aggregationInfo>
            <gmd:MD_AggregateInformation>
               <gmd:associationType>
                  <gmd:DS_AssociationTypeCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#DS_AssociationTypeCode"
                                              codeListValue="source">source</gmd:DS_AssociationTypeCode>
               </gmd:associationType>
               <gmd:initiativeType>
                  <gmd:DS_InitiativeTypeCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#DS_InitiativeTypeCode"
                                             codeListValue="sensor">SEVIRI</gmd:DS_InitiativeTypeCode>
               </gmd:initiativeType>
            </gmd:MD_AggregateInformation>
         </gmd:aggregationInfo>
         <gmd:aggregationInfo>
            <gmd:MD_AggregateInformation>
               <gmd:associationType>
                  <gmd:DS_AssociationTypeCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#DS_AssociationTypeCode"
                                              codeListValue="source">source</gmd:DS_AssociationTypeCode>
               </gmd:associationType>
               <gmd:initiativeType>
                  <gmd:DS_InitiativeTypeCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#DS_InitiativeTypeCode"
                                             codeListValue="platform">HIMAWARI</gmd:DS_InitiativeTypeCode>
               </gmd:initiativeType>
            </gmd:MD_AggregateInformation>
         </gmd:aggregationInfo>
         <gmd:aggregationInfo>
            <gmd:MD_AggregateInformation>
               <gmd:associationType>
                  <gmd:DS_AssociationTypeCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#DS_AssociationTypeCode"
                                              codeListValue="source">source</gmd:DS_AssociationTypeCode>
               </gmd:associationType>
               <gmd:initiativeType>
                  <gmd:DS_InitiativeTypeCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#DS_InitiativeTypeCode"
                                             codeListValue="sensor">AHI</gmd:DS_InitiativeTypeCode>
               </gmd:initiativeType>
            </gmd:MD_AggregateInformation>
         </gmd:aggregationInfo>
         <gmd:spatialRepresentationType>
            <gmd:MD_SpatialRepresentationTypeCode codeList="MD_SpatialRepresentationTypeCode" codeListValue="grid"/>
         </gmd:spatialRepresentationType>
         <gmd:spatialResolution>
            <gmd:MD_Resolution>
               <gmd:distance>
                  <gco:Distance uom="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/uom/ML_gmxUom.xml#deg">{{resolution}}</gco:Distance>
               </gmd:distance>
            </gmd:MD_Resolution>
         </gmd:spatialResolution>
         <gmd:language>
            <gco:CharacterString>eng</gco:CharacterString>
         </gmd:language>
         <gmd:characterSet>
            <gmd:MD_CharacterSetCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#MD_CharacterSetCode"
                                     codeListValue="utf8">utf8</gmd:MD_CharacterSetCode>
         </gmd:characterSet>
          {{#isoTopicCategory}}
              <gmd:topicCategory>
                  <gmd:MD_TopicCategoryCode>{{isoCategory}}</gmd:MD_TopicCategoryCode>
              </gmd:topicCategory>
          {{/isoTopicCategory}}
          {{#spatialExtent}}
         <gmd:extent>
            <gmd:EX_Extent>
               <gmd:geographicElement>
                  <gmd:EX_GeographicBoundingBox>
                     <gmd:westBoundLongitude>
                        <gco:Decimal>{{westLongitude}}</gco:Decimal>
                     </gmd:westBoundLongitude>
                     <gmd:eastBoundLongitude>
                        <gco:Decimal>{{eastLongitude}}</gco:Decimal>
                     </gmd:eastBoundLongitude>
                     <gmd:southBoundLatitude>
                        <gco:Decimal>{{southLatitude}}</gco:Decimal>
                     </gmd:southBoundLatitude>
                     <gmd:northBoundLatitude>
                        <gco:Decimal>{{northLatitude}}</gco:Decimal>
                     </gmd:northBoundLatitude>
                  </gmd:EX_GeographicBoundingBox>
               </gmd:geographicElement>
            </gmd:EX_Extent>
         </gmd:extent>
          {{/spatialExtent}}
         {{#temporalExtent}}
         <gmd:extent>
            <gmd:EX_Extent>
               <gmd:temporalElement>
                  <gmd:EX_TemporalExtent>
                     <gmd:extent>
                        <gml:TimePeriod gml:id="extent_tp" frame="#ISO-8601">
                           <gml:description>Instantaneous observation</gml:description>
                           <gml:name>timeslot</gml:name>
                           <gml:beginPosition>{{beginPosition}}</gml:beginPosition>
                           <gml:endPosition>{{endPosition}}</gml:endPosition>
                        </gml:TimePeriod>
                     </gmd:extent>
                  </gmd:EX_TemporalExtent>
               </gmd:temporalElement>
            </gmd:EX_Extent>
         </gmd:extent>
         {{/temporalExtent}}
         <gmd:supplementalInformation>
            <gco:CharacterString>http://land.copernicus.eu/global/products/DSSF</gco:CharacterString>
         </gmd:supplementalInformation>
      </gmd:MD_DataIdentification>
  </gmd:identificationInfo>
  {{/identificationInfo}}
  {{#contentInfo}}
  <gmd:contentInfo>
      <gmd:MD_CoverageDescription uuid="{{recordType}}">
         <gmd:attributeDescription>
            <gco:RecordType>{{recordType}}</gco:RecordType>
         </gmd:attributeDescription>
         <gmd:contentType>
            <gmd:MD_CoverageContentTypeCode codeList="http://www.isotc211.org/2005/resources/codelist/gmxCodelists.xml#MD_CoverageContentTypeCode"
                                            codeListValue="{{contentType}}"/>
         </gmd:contentType>
         {{#dimension}}
         <gmd:dimension>
            <gmd:MD_Band>
               <gmd:sequenceIdentifier>
                  <gco:MemberName>
                     <gco:aName>
                        <gco:CharacterString>{{MemberName}}</gco:CharacterString>
                     </gco:aName>
                     <gco:attributeType>
                        <gco:TypeName>
                           <gco:aName>
                              <gco:CharacterString>{{TypeName}}</gco:CharacterString>
                           </gco:aName>
                        </gco:TypeName>
                     </gco:attributeType>
                  </gco:MemberName>
               </gmd:sequenceIdentifier>
               <gmd:descriptor>
                  <gco:CharacterString>{{descriptor}}</gco:CharacterString>
               </gmd:descriptor>
               <gmd:maxValue>
                  <gco:Real>{{maxValue}}</gco:Real>
               </gmd:maxValue>
               <gmd:minValue>
                  <gco:Real>{{minValue}}</gco:Real>
               </gmd:minValue>
               {{#units}}
               <gmd:units>
                  <gml:UnitDefinition gml:id="{{id}}">
                    <gml:identifier codeSpace="">{{units}}</gml:identifier>
                  </gml:UnitDefinition>
               </gmd:units>
               {{/units}}
               {{#bitsPerValue}}
               <gmd:bitsPerValue>
                  <gco:Integer>{{bitsPerValue}}</gco:Integer>
               </gmd:bitsPerValue>
               {{/bitsPerValue}}
               {{#scaleFactor}}
               <gmd:scaleFactor>
                  <gco:Real>{{scaleFactor}}</gco:Real>
               </gmd:scaleFactor>
               {{/scaleFactor}}
               {{#offset}}
               <gmd:offset>
                  <gco:Real>{{offset}}</gco:Real>
               </gmd:offset>
               {{/offset}}
            </gmd:MD_Band>
         </gmd:dimension>
         {{/dimension}}
      </gmd:MD_CoverageDescription>
  </gmd:contentInfo>
  {{/contentInfo}}
  <gmd:distributionInfo>
      <gmd:MD_Distribution>
         <gmd:distributor>
            <gmd:MD_Distributor>
               <gmd:distributorContact>
                  <gmd:CI_ResponsibleParty>
                     <gmd:organisationName>
                        <gco:CharacterString>Instituto Português do Mar e da Atmosfera</gco:CharacterString>
                     </gmd:organisationName>
                     <gmd:positionName>
                        <gco:CharacterString>Distribution center</gco:CharacterString>
                     </gmd:positionName>
                     <gmd:contactInfo>
                        <gmd:CI_Contact>
                           <gmd:address>
                              <gmd:CI_Address>
                                 <gmd:deliveryPoint>
                                    <gco:CharacterString>IPMA</gco:CharacterString>
                                 </gmd:deliveryPoint>
                                 <gmd:city>
                                    <gco:CharacterString>Lisbon</gco:CharacterString>
                                 </gmd:city>
                                 <gmd:postalCode>
                                    <gco:CharacterString>1749-077</gco:CharacterString>
                                 </gmd:postalCode>
                                 <gmd:country>
                                    <gmd:Country codeList="http://www.iso.org/iso/en/prods-services/iso3166ma/02iso-3166-code-lists/index.html"
                                                 codeListValue="PT"
                                                 codeSpace="ISO 3166-1">Portugal</gmd:Country>
                                 </gmd:country>
                                 <gmd:electronicMailAddress>
                                    <gco:CharacterString>sandra.coelho@ipma.pt</gco:CharacterString>
                                 </gmd:electronicMailAddress>
                              </gmd:CI_Address>
                           </gmd:address>
                           <gmd:onlineResource>
                              <gmd:CI_OnlineResource>
                                 <gmd:linkage>
                                    <gmd:URL>http://www.ipma.pt</gmd:URL>
                                 </gmd:linkage>
                                 <gmd:protocol>
                                    <gco:CharacterString>HTTP</gco:CharacterString>
                                 </gmd:protocol>
                                 <gmd:name>
                                    <gco:CharacterString>IPMA website</gco:CharacterString>
                                 </gmd:name>
                                 <gmd:description>
                                    <gco:CharacterString>Organization website</gco:CharacterString>
                                 </gmd:description>
                                 <gmd:function>
                                    <gmd:CI_OnLineFunctionCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#CI_OnLineFunctionCode"
                                                               codeListValue="information">information</gmd:CI_OnLineFunctionCode>
                                 </gmd:function>
                              </gmd:CI_OnlineResource>
                           </gmd:onlineResource>
                           <gmd:hoursOfService>
                              <gco:CharacterString>Office hours, 5 days per week</gco:CharacterString>
                           </gmd:hoursOfService>
                           <gmd:contactInstructions>
                              <gco:CharacterString>Preferrably by e-mail</gco:CharacterString>
                           </gmd:contactInstructions>
                        </gmd:CI_Contact>
                     </gmd:contactInfo>
                     <gmd:role>
                        <gmd:CI_RoleCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#CI_RoleCode"
                                         codeListValue="distributor">distributor</gmd:CI_RoleCode>
                     </gmd:role>
                  </gmd:CI_ResponsibleParty>
               </gmd:distributorContact>
               <gmd:distributionOrderProcess>
                  <gmd:MD_StandardOrderProcess>
                     <gmd:fees>
                        <gco:CharacterString>Free</gco:CharacterString>
                     </gmd:fees>
                     <gmd:orderingInstructions>
                        <gco:CharacterString>Products can be downloaded on-line via HTTP (or FTP) or can be received through EUMETCast satellite reception in Africa and Latin-America. Through http://land.copernicus.eu/global/access, users can subscribe to receive future products as well as placing orders to retrieve the product archive (massive order). You will be informed through e-mail whenever new products are ready on the FTP server to be downloaded.</gco:CharacterString>
                     </gmd:orderingInstructions>
                  </gmd:MD_StandardOrderProcess>
               </gmd:distributionOrderProcess>
            </gmd:MD_Distributor>
         </gmd:distributor>
         <gmd:transferOptions>
            <gmd:MD_DigitalTransferOptions>
               <gmd:unitsOfDistribution>
                  <gco:CharacterString>Per product</gco:CharacterString>
               </gmd:unitsOfDistribution>
               <gmd:onLine>
                  <gmd:CI_OnlineResource>
                     <gmd:linkage>
                        <gmd:URL>{{distributionInfo}}</gmd:URL>
                     </gmd:linkage>
                     <gmd:protocol>
                        <gco:CharacterString>HTTP</gco:CharacterString>
                     </gmd:protocol>
                     <gmd:name>
                        <gco:CharacterString>Copernicus Global Land Service</gco:CharacterString>
                     </gmd:name>
                     <gmd:description>
                        <gco:CharacterString>Download product</gco:CharacterString>
                     </gmd:description>
                     <gmd:function>
                        <gmd:CI_OnLineFunctionCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#CI_OnLineFunctionCode"
                                                   codeListValue="download">download</gmd:CI_OnLineFunctionCode>
                     </gmd:function>
                  </gmd:CI_OnlineResource>
               </gmd:onLine>
            </gmd:MD_DigitalTransferOptions>
         </gmd:transferOptions>
         <gmd:transferOptions>
            <gmd:MD_DigitalTransferOptions>
               <gmd:unitsOfDistribution>
                  <gco:CharacterString>Product bundles</gco:CharacterString>
               </gmd:unitsOfDistribution>
               <gmd:onLine>
                  <gmd:CI_OnlineResource>
                     <gmd:linkage>
                        <gmd:URL>mailto:helpdesk@vgt.vito.be</gmd:URL>
                     </gmd:linkage>
                     <gmd:name>
                        <gco:CharacterString>Copernicus Global Land Service</gco:CharacterString>
                     </gmd:name>
                     <gmd:description>
                        <gco:CharacterString>Request to receive products via FTP</gco:CharacterString>
                     </gmd:description>
                  </gmd:CI_OnlineResource>
               </gmd:onLine>
            </gmd:MD_DigitalTransferOptions>
         </gmd:transferOptions>
      </gmd:MD_Distribution>
  </gmd:distributionInfo>
  <gmd:dataQualityInfo>
      <gmd:DQ_DataQuality>
         <gmd:scope>
            <gmd:DQ_Scope>
               <gmd:level>
                  <gmd:MD_ScopeCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#MD_ScopeCode"
                                    codeListValue="dataset">dataset</gmd:MD_ScopeCode>
               </gmd:level>
            </gmd:DQ_Scope>
         </gmd:scope>
         <gmd:report>
            <gmd:DQ_NonQuantitativeAttributeAccuracy>
               <gmd:result>
                  <gmd:DQ_ConformanceResult>
                     <gmd:specification>
                        <gmd:CI_Citation>
                           <gmd:title>
                              <gco:CharacterString>Validation results conform CEOS LPV guidelines</gco:CharacterString>
                           </gmd:title>
                           <gmd:date>
                              <gmd:CI_Date>
                                 <gmd:date>
                                    <gco:Date>2010-12-01</gco:Date>
                                 </gmd:date>
                                 <gmd:dateType>
                                    <gmd:CI_DateTypeCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#CI_DateTypeCode"
                                                         codeListValue="publication">publication</gmd:CI_DateTypeCode>
                                 </gmd:dateType>
                              </gmd:CI_Date>
                           </gmd:date>
                        </gmd:CI_Citation>
                     </gmd:specification>
                     <gmd:explanation>
                        <gco:CharacterString>http://land.copernicus.eu/global/sites/default/files/products/GIO-GL1_VR_DSSF_I1.00.pdf</gco:CharacterString>
                     </gmd:explanation>
                     <gmd:pass>
                        <gco:Boolean>1</gco:Boolean>
                     </gmd:pass>
                  </gmd:DQ_ConformanceResult>
               </gmd:result>
            </gmd:DQ_NonQuantitativeAttributeAccuracy>
         </gmd:report>
         <gmd:report>
            <gmd:DQ_DomainConsistency>
               <gmd:result>
                  <gmd:DQ_ConformanceResult>
                     <gmd:specification>
                        <gmd:CI_Citation>
                           <gmd:title>
                              <gco:CharacterString>Commission Regulation (EU) No 1089/2010 of 23 November 2010 implementing Directive 2007/2/EC of the European Parliament and of the Council as regards interoperability of spatial data sets and services</gco:CharacterString>
                           </gmd:title>
                           <gmd:date>
                              <gmd:CI_Date>
                                 <gmd:date>
                                    <gco:Date>2010-12-08</gco:Date>
                                 </gmd:date>
                                 <gmd:dateType>
                                    <gmd:CI_DateTypeCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#CI_DateTypeCode"
                                                         codeListValue="publication">publication</gmd:CI_DateTypeCode>
                                 </gmd:dateType>
                              </gmd:CI_Date>
                           </gmd:date>
                        </gmd:CI_Citation>
                     </gmd:specification>
                     <gmd:explanation>
                        <gco:CharacterString>See the referenced specification</gco:CharacterString>
                     </gmd:explanation>
                     <gmd:pass>
                        <gco:Boolean>1</gco:Boolean>
                     </gmd:pass>
                  </gmd:DQ_ConformanceResult>
               </gmd:result>
            </gmd:DQ_DomainConsistency>
         </gmd:report>
         <gmd:lineage>
            <gmd:LI_Lineage>
               <gmd:statement>
                  <gco:CharacterString>The objective of the DSSF product is to increase the area coverage of the DSSF product currently distributed by the Eumetsat Satellite Application Facility (SAF) on Land Surface Analysis (LSA). The LSA SAF generates, archives and disseminates DSSF from SEVIRI (onboard MSG) with a 15-minute frequency, at the original satellite spatial resolution. A near global product is obtained by merging SEVIRI- with GOES- and HIMAWARI-based DSSF produced with an hourly frequency. For more detailed information consult the Product User Manual.</gco:CharacterString>
               </gmd:statement>
            </gmd:LI_Lineage>
         </gmd:lineage>
      </gmd:DQ_DataQuality>
  </gmd:dataQualityInfo>
  <gmd:metadataMaintenance>
      <gmd:MD_MaintenanceInformation>
         <gmd:maintenanceAndUpdateFrequency>
            <gmd:MD_MaintenanceFrequencyCode codeList="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/Codelist/ML_gmxCodelists.xml#MD_MaintenanceFrequencyCode"
                                             codeListValue="asNeeded">asNeeded</gmd:MD_MaintenanceFrequencyCode>
         </gmd:maintenanceAndUpdateFrequency>
      </gmd:MD_MaintenanceInformation>
  </gmd:metadataMaintenance>
</gmd:MD_Metadata>
